@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(198,249,198);
background: linear-gradient(0deg, rgba(198,249,198,1) 0%, rgba(218,224,154,1) 10%, rgba(9,117,121,0.835171568627451) 44%, rgba(0,212,255,1) 100%);
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    /* display: flex; */
}
.left-content,.main-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-gap:2rem;
}
.card{
    cursor: pointer;
    width: 350px;       
    background-color:#03b3ff;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.main-content{
    width: 40%;
    text-align: center;
    color: black;
    position: fixed;
    top:20px;
   left: 35%;
    background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
}
.main-content img{
    margin: 1.5rem;
    height: 160px;
}
.main-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 15px 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #064907;
    border-radius: 8px;
}